.PostDetail {
  max-width: 768px;
}

.PostImage {
  width: 100%;
  display: flex;
  min-height: 150px;
  max-height: 50vh;
  border-radius: 30px;
  overflow: hidden;
}

.PostImage img {
  width: 100%;
  object-fit: cover;
}

.Header {
  min-height: 100px;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.45) 40%, rgba(255, 255, 255, 0.60)), url('../../assets/images/red-paper-airplane-fly-dark-blue-background_44481-304.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: auto 3em;
  border-radius: 5px;
}

.PostTitle {
  text-transform: capitalize;
  margin: 0 0 1em;
}

.Body {
  margin: 2em;
  line-height: 1.6;
}