@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f9f9f9;
}

body,
a,
button,
input,
textarea,
select,
option {
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Lists */
ul, li {
  list-style: none;
}

/* Anchor */
a {
  text-decoration: none;
  color: #fff;
}

/* Input fields */
input[type='file'] {
  background-color: #fff;
}

/* Main Content */
main {
  display: grid;
  width: 90%;
  margin: calc(60px + 1em) auto;
}

@media (min-width: 576px) {
  main {
    width: 80%;
  }
}


/* Feedbacks */
.error {
  font-size: 0.875rem;
  color: red;
  margin: 0.3em 0;
}

