.Tag {
  padding: 0.03em 0.5em;
  background-color: rgb(241, 240, 240);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: center;
  font-size: 0.875rem;
  margin: 0 0.3em 0.3em;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.Tag:hover {
  background-color: rgb(4, 123, 235);
  color: #FFF;
}

@media (min-width: 768px) {
  .Tag {
    padding: 0.5em;
  }
}